<!doctype html>
<html lang="en">

<head>
    <title>Event App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div id="container" class="container-fluid">

    <ul class="list-group">
        <li id="0" class="list-group-item  list-group-item-success">event 1</li>
        <li id="1" class="list-group-item  ">event 2</li>
        <li id="2" class="list-group-item  ">event 3</li>
    </ul>

</div>


</body>

</html>
